<!DOCTYPE html>
<html>
<head>
  <title>MyveetaDomain</title>
  <%= stylesheet_link_tag    "myveeta_domain/application", media: "all" %>
  <%= javascript_include_tag "myveeta_domain/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
